@import 'src/styles/global.scss';

:host {
  width: 240px;
  min-width: 240px;
  color: $cl-white;
  padding: 12px;
}

.link {
  color: $cl-grayAC;
  text-transform: uppercase;
  text-decoration: none;
  margin: 4px 0;

  &:hover:not(.is-active) {
    color: $cl-grayD8;
  }
}

.is-active {
  color: $cl-white;
  cursor: default;
}
