<app-ui-window title="MAIN colors">
  <div class="color-sample">
    <div class="color-sample-tile cl-blue11"></div>
    <div class="color-sample-code">$cl-blue11</div>
  </div>

  <div class="color-sample">
    <div class="color-sample-tile cl-blue22"></div>
    <div class="color-sample-code">$cl-blue22</div>
  </div>

  <div class="color-sample">
    <div class="color-sample-tile cl-blue25"></div>
    <div class="color-sample-code">$cl-blue25</div>
  </div>
</app-ui-window>

<app-ui-window title="BACKGROUND colors">
  <div class="color-sample">
    <div class="color-sample-tile cl-white"></div>
    <div class="color-sample-code">$cl-white</div>
  </div>

  <div class="color-sample">
    <div class="color-sample-tile cl-grayF7"></div>
    <div class="color-sample-code">$cl-grayF7</div>
  </div>
</app-ui-window>

<app-ui-window title="EXTRA colors">
  <div class="color-sample">
    <div class="color-sample-tile cl-gray6F"></div>
    <div class="color-sample-code">$cl-gray6F</div>
  </div>

  <div class="color-sample">
    <div class="color-sample-tile cl-grayAC"></div>
    <div class="color-sample-code">$cl-grayAC</div>
  </div>

  <div class="color-sample">
    <div class="color-sample-tile cl-grayD8"></div>
    <div class="color-sample-code">$cl-grayD8</div>
  </div>
</app-ui-window>
