<div class="ui-page">
  <div class="window">
    <div class="window-title">MAIN colors</div>
    <div class="window-body">
      <div class="color-sample">
        <div class="color-sample-tile cl-blue11"></div>
        <div class="color-sample-code">$cl-blue11</div>
      </div>

      <div class="color-sample">
        <div class="color-sample-tile cl-blue22"></div>
        <div class="color-sample-code">$cl-blue22</div>
      </div>

      <div class="color-sample">
        <div class="color-sample-tile cl-blue25"></div>
        <div class="color-sample-code">$cl-blue25</div>
      </div>
    </div>
  </div>
</div>
