// colors
$cl-black: #000;
$cl-blue05: #0534FF;
$cl-blue11:#1131b9;
$cl-blue22:#222b5e;
$cl-blue25:#25293f;
$cl-grayE9: #e9e7e7;
$cl-grayF7:#f7f7f9;
$cl-gray6F:#6f7386;
$cl-grayAC:#aca7b7;
$cl-grayD8:#d8d6de;
$cl-white: #fff;

