<app-ui-window title="TYPOGRAPHY">
  <table>
    <tr>
      <th>Sample</th>
      <th>Typeface</th>
      <th>Size</th>
      <th>Weight</th>
      <th>Case</th>
      <th>Color</th>
    </tr>

    <!-- h1 -->
    <tr>
      <td>Hd 1</td>
      <td>Typeface</td>
      <td>Size</td>
      <td>Weight</td>
      <td>Case</td>
      <td>Color</td>
    </tr>

    <!-- h2 -->
    <tr>
      <td>Heading 2</td>
      <td>Typeface</td>
      <td>Size</td>
      <td>Weight</td>
      <td>Case</td>
      <td>Color</td>
    </tr>
  </table>
</app-ui-window>
