<app-ui-window title="TYPOGRAPHY">
  <table>
    <tr>
      <th>Sample</th>
      <th>Typeface</th>
      <th>Size</th>
      <th>Weight</th>
      <th>Case</th>
      <th>Color</th>
    </tr>

    <!-- h1 -->
    <tr>
      <td>
        <h1 class="is-heading-1">Hd 1</h1>
      </td>
      <td>Montserrat</td>
      <td>64</td>
      <td>Extra Bold</td>
      <td>Sentence</td>
      <td>$cl-white</td>
    </tr>

    <!-- h2 -->
    <tr>
      <td>
        <h2 class="is-heading-2">Heading 2</h2>
      </td>
      <td>Oxanium</td>
      <td>36</td>
      <td>Semi Bold</td>
      <td>Sentence</td>
      <td>$cl-blue25</td>
    </tr>

    <!-- h2 -->
    <tr>
      <td>
        <h2 class="is-heading-2 blue11">Heading 2</h2>
      </td>
      <td>Oxanium</td>
      <td>36</td>
      <td>Semi Bold</td>
      <td>Sentence</td>
      <td>$cl-blue11</td>
    </tr>

    <!-- h3 -->
    <tr>
      <td>
        <h3 class="is-heading-3">Heading 3</h3>
      </td>
      <td>Montserrat</td>
      <td>36</td>
      <td>Semi Bold</td>
      <td>Sentence</td>
      <td>$cl-blue25</td>
    </tr>

    <!-- h3 -->
    <tr>
      <td>
        <h3 class="is-heading-3 white">Heading 3</h3>
      </td>
      <td>Montserrat</td>
      <td>36</td>
      <td>Semi Bold</td>
      <td>Sentence</td>
      <td>$cl-white</td>
    </tr>

    <!-- h4 -->
    <tr>
      <td>
        <h4 class="is-heading-4">Heading 4</h4>
      </td>
      <td>Montserrat</td>
      <td>32</td>
      <td>Semi Bold</td>
      <td>Sentence</td>
      <td>$cl-blue25</td>
    </tr>

    <!-- h5 -->
    <tr>
      <td>
        <h5 class="is-heading-5">Heading 5</h5>
      </td>
      <td>Montserrat</td>
      <td>20</td>
      <td>Semi Bold</td>
      <td>Sentence</td>
      <td>$cl-blue25</td>
    </tr>

    <!-- h6 -->
    <tr>
      <td>
        <h6 class="is-heading-6">Heading 6</h6>
      </td>
      <td>Montserrat</td>
      <td>20</td>
      <td>Medium</td>
      <td>Sentence</td>
      <td>$cl-blue25</td>
    </tr>

    <!-- h7 -->
    <tr>
      <td>
        <h6 class="is-heading-7">Heading 7</h6>
      </td>
      <td>Montserrat</td>
      <td>20</td>
      <td>Regular</td>
      <td>Sentence</td>
      <td>$cl-blue25</td>
    </tr>

    <!-- h7 -->
    <tr>
      <td>
        <h6 class="is-heading-7 white">Heading 7</h6>
      </td>
      <td>Montserrat</td>
      <td>20</td>
      <td>Regular</td>
      <td>Sentence</td>
      <td>$cl-white</td>
    </tr>

    <!-- subtitle-1 -->
    <tr>
      <td>
        <h6 class="is-subtitle-1">Subtitle 1</h6>
      </td>
      <td>Montserrat</td>
      <td>16</td>
      <td>Semibold</td>
      <td>Sentence</td>
      <td>$cl-grayAC</td>
    </tr>

    <!-- subtitle-2 -->
    <tr>
      <td>
        <h6 class="is-subtitle-2 underline">Subtitle 2</h6>
      </td>
      <td>Montserrat</td>
      <td>16</td>
      <td>Medium</td>
      <td>Sentence</td>
      <td>$cl-blue25</td>
    </tr>

    <!-- subtitle-2 -->
    <tr>
      <td>
        <h6 class="is-subtitle-2 white">Subtitle 2</h6>
      </td>
      <td>Montserrat</td>
      <td>16</td>
      <td>Medium</td>
      <td>Sentence</td>
      <td>$cl-white</td>
    </tr>

    <!-- subtitle-2 -->
    <tr>
      <td>
        <h6 class="is-subtitle-2 white underline">Subtitle 2</h6>
      </td>
      <td>Montserrat</td>
      <td>16</td>
      <td>Medium</td>
      <td>Sentence</td>
      <td>$cl-white</td>
    </tr>

    <!-- subtitle-2 -->
    <tr>
      <td>
        <h6 class="is-subtitle-2 blue11">Subtitle 2</h6>
      </td>
      <td>Montserrat</td>
      <td>16</td>
      <td>Medium</td>
      <td>Sentence</td>
      <td>$cl-blue11</td>
    </tr>

    <!-- subtitle-2 -->
    <tr>
      <td>
        <h6 class="is-subtitle-2 grayAC">Subtitle 2</h6>
      </td>
      <td>Montserrat</td>
      <td>16</td>
      <td>Medium</td>
      <td>Sentence</td>
      <td>$cl-grayAC</td>
    </tr>

    <!-- body-1 -->
    <tr>
      <td>
        <span class="is-body-1">Body 1</span>
      </td>
      <td>Montserrat</td>
      <td>16</td>
      <td>Regular</td>
      <td>Sentence</td>
      <td>$cl-blue25</td>
    </tr>

    <!-- body-2 -->
    <tr>
      <td>
        <span class="is-body-2">Body 2</span>
      </td>
      <td>Montserrat</td>
      <td>14</td>
      <td>Regular</td>
      <td>Sentence</td>
      <td>$cl-blue25</td>
    </tr>

    <!-- body-2 -->
    <tr>
      <td>
        <span class="is-body-2 gray6F">Body 2</span>
      </td>
      <td>Montserrat</td>
      <td>14</td>
      <td>Regular</td>
      <td>Sentence</td>
      <td>$cl-gray6F</td>
    </tr>

    <!-- body-2 -->
    <tr>
      <td>
        <span class="is-body-2 blue11">Body 2</span>
      </td>
      <td>Montserrat</td>
      <td>14</td>
      <td>Regular</td>
      <td>Sentence</td>
      <td>$cl-blue11</td>
    </tr>

    <!-- body-2 -->
    <tr>
      <td>
        <span class="is-body-2 white">Body 2</span>
      </td>
      <td>Montserrat</td>
      <td>14</td>
      <td>Regular</td>
      <td>Sentence</td>
      <td>$cl-white</td>
    </tr>
  </table>
</app-ui-window>
