/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

@font-face {
  font-family: 'Montserrat';
  src: url('../src/assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

* {
  box-sizing: border-box;
}
